body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .grid-chart-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    margin-bottom: 20px;
    
  }
  
  .grid-container {
    flex: 1;
    
    margin-top: 10px;
  }
  
  .chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 530px;
    padding-left: 150px;
  }
  
  .controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
  }
  
  .timer-container,
  .occupancy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    width: 50px;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  
  .control-button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 80px;
    text-align: center;
    position: relative;
  }
  
  .control-button.active {
    border: 2px solid black;
  }
  
  .start-pause-button.start {
    background-color: #78dc6d;
    color: white;
  }
  
  .start-pause-button.pause {
    background-color:#f5a23a;
    color: white;
  }
  
  .reset-button {
    background-color: #26244c;
    color: white;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    margin: 0;
  }
  
  .cell {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
  }

  .bacteria-image {
    width: 12px;  
    height: 12px; 
    animation: vibrate 0.2s linear infinite;
  }

  @keyframes vibrate {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(1px, -1px);
    }
    50% {
      transform: translate(0, 1px);
    }
    75% {
      transform: translate(-1px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }